$blue: 			#82B5F0;
$blue-dark: 	#3976BD;

$gray-500: 		#FDFDFD;
$gray-400: 		#F6F6F6;
$gray-300:		#E4E4E4;
$gray-200:		#9B9B9B;
$gray-100:		#9B9B9B;
$gray: 			#666666;

$gold: 			#BD943D;
$gold-dark: 	#886722;

