.page-template-page-team  {
	.coach-item:nth-child(7n+7) {
		margin-left: 0px;
	}
}

.page-template-page-coaching  {
	.coach-item:nth-child(7n+7) {
		margin-left: 0px;
	}
}

.consultant-item {

	p {
		font-size: 15px;
		line-height: 24px;
		color: $gray-100;
	}
}